{% extends 'blog/main.html' %}
{% block main_section %}
  <h3>Contact Info</h3>
  <span> <img src="https://artemroy.weebly.com/uploads/2/7/4/0/27403153/1227944.jpg" class="img-thumbnail mb-2"> <span>
  <p><b>Email:</b> aroy@bhcc.edu </p>
  <p><b>Phone:</b> (617)435-5370 </p>
{% endblock main_section %}

{% block aside_news_section %}
<h3><b> Professional Objective </b></h3>
<p>Hard working, motivated and detail oriented individual looking for a position in the financial services industry. Driven by results and always client focused – I am looking to contribute my solid academic background, international experience, as well as genuine understanding of European and Russian culture, values, & business etiquette, to reaching corporate objectives. Dedicated to learning and pursuing an MBA degree in the near future, I am highly interested in becom-ing a part of an organization solving existing business challenges, as well as preparing for the emerging threats.</p>
<a href="https://www.dropbox.com/s/gmcp6c5qen6fj8j/Artem_Roy_Resume_Main.docx?dl=0" targget="_blank">
  <button class="btn btn-warning">My Resume</button>
</a>
{% endblock aside_news_section %}
